<h1>List of Users</h1>

<% @users.each do |user| %>
  <ul class="list-unstyled">
    <li><%= link_to user.name, user_path(user.id) %></li>
    <li><%= user.email %></li>
  </ul>
<% end %>


<%= link_to "Add user", new_user_path %>





