<h3>Current reservations at <%= @restaurant.name %></h3>
<% current_user.reservations.each do |res| %>
  <% if res.restaurant_id == @restaurant.id %>
    <ul> Reservation information:
      <li>Date/Time: <%= res.date_time %></li>
      <li>Location: <%= res.restaurant.name %></li>
      <li>Party size: <%= res.party_size %></li>
    </ul>
  <% else %>
  <% end %>
<% end %>